<div class="container">
  <h2>Filter your favourite heroes by name</h2>
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Favorite heroes</mat-label>
    <mat-chip-list #chipList aria-label="Hero selection">
      <mat-chip
        *ngFor="let hero of selectedHeroes"
        (removed)="remove(hero)">
        {{hero}}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        placeholder="Search your favourite hero"
        #heroInput
        [formControl]="heroCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let hero of selectableHeroes | async" [value]="hero">
        {{hero}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<div class="container">
  <h2>Enjoy with all Marvel's heroes</h2>
  <table matSort (matSortChange)="sortData($event)">
    <tr>
      <th mat-sort-header="nameLabel">Name</th>
      <th mat-sort-header="citizenshipLabel">Citizen</th>
      <th mat-sort-header="creatorLabel">Creator</th>
    </tr>
  
    <tr *ngFor="let element of filteredHeroes">
      <td>{{element.nameLabel}}</td>
      <td>{{element.citizenshipLabel}}</td>
      <td>{{element.creatorLabel}}</td>
      <button (click)="openDialog(element.nameLabel)">Show</button>
    </tr>
  </table>
</div>
