.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table-data {
  text-align: center;
}

.button {
  margin-right: 4px;
}

.add-btn{
  background-color: #f34213;
}

.show-btn {
  background-color: #fcba04;
}

.delete-btn{
  background-color: #931621;
}