.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chip-list{
  background-color: #4ba3c3;
  border-radius: 5%;
}

.table-data {
  text-align: center;
}

.button {
  margin-right: 4px;
}

.add-btn{
  background-color: #011638;
}

.show-btn {
  background-color: #4ba3c3;
}

.delete-btn{
  background-color: #931621;
}